.main{
    color: burlywood;
    text-align: center;
    border: 1px solid mediumseagreen;
}
body{
    background: linear-gradient(45deg, #6ccc55, #666);
}
p{
    background: #883c11;

    font-family: Arial;
    font-size: 24px;

}

span{
    text-align: center;
    margin-left: 10px;
}
